<ion-card>
  <ion-card-header>
    <ion-card-subtitle>

      <ion-row>
        <ion-col (click)="openArticle()">
          <span class="text-primary">{{ i }}. </span>
          <span class="article-source-name">{{ article.source.name }}</span>
        </ion-col>
        <ion-col>
          
          <button (click)="onClick()" fill="clear">
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
          </button>

        </ion-col>
      </ion-row>
    </ion-card-subtitle>
    <ion-card-title>
      {{ article.title }}
    </ion-card-title>
  </ion-card-header>
  <ion-img *ngIf="article.urlToImage" [src]="article.urlToImage"></ion-img>

  <ion-card-content *ngIf="article.description">
    <p>{{ article.description }}</p>
  </ion-card-content>

</ion-card>